.header-mobile {
  z-index: 100;
  background: var(--cg-white);
  border-bottom: 2px solid #ddd;

  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem 0.5rem 0;
}

.header-mobile .logo h3 {
  margin: 0rem;
  padding: 0;
  line-height: 1;
}

.header-mobile .logo .the {
  font-family: "Grifa";
  font-weight: 400;
  font-size: 0.5rem;
}

.header-mobile .logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* "CHEESE GRATER" */
.header-mobile .cheese-grater {
  font-family: "Bitter";
  font-weight: 900;
  font-size: 1.5rem;

  display: inline-block;
  transform: scaleX(0.7);
  transform-origin: center;

  margin: 0;
  padding: 0;
  line-height: 0.9;
}

.header-mobile .cheese-grater .cheese {
  color: var(--cg-yellow-t);
}

.header-mobile .cheese-grater .grater {
  color: black;
}

.header-mobile .grater-icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  background-image: url("https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/logos/cg_full_opacity.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  vertical-align: -0.15em; /* adjust up/down */
  transform: scaleX(1.4);
}

.header-mobile .best {
  font-family:"Bitter";
  font-size: 1.2rem;
  font-weight: 600;

  display: inline-block;
}

.header-mobile .menu-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-around;
  align-items: center;
}

.header-mobile .menu-bar .menu-item {
  color: var(--cg-font);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  
  transition: 
    background-size 400ms,
    background-color 400ms ease;

  background-image:
    var(
      --section-gradient,
      linear-gradient(to right, var(--cg-yellow-t), var(--cg-yellow-t))
    );
  background-size: 0 2px;
  background-position: 50% 90%;
  background-repeat: no-repeat;
}

.header-mobile .menu-item:hover {
  background-size: 80% 2px;
  background-color: #e9e9e9;
}

.header-mobile .menu-bar .print-edition {
  color: var(--cg-yellow);
}

.header-mobile .menu-more {
  padding: 0.3rem;
  background: none;
  -webkit-tap-highlight-color: transparent;
}

.header-mobile .menu-more h3 {
  margin: 0;
  padding: 0;
}

.header-mobile .voices {
  --section-gradient: linear-gradient(to right, var(--cg-yellow-t),var(--cg-voices-t));
}

.header-mobile .news {
  --section-gradient: linear-gradient(to right, var(--cg-yellow-t), var(--cg-news-t));
}

.header-mobile .humour {
  --section-gradient: linear-gradient(to right, var(--cg-yellow-t), var(--cg-humour-t));
}
