.carousel {
  padding: 3rem 10rem;
  overflow: hidden;
  width: 100%;
  color: var(--cg-font);
}

.carousel-track {
  display: flex;
  transition: transform 600ms cubic-bezier(0.2, 0, 0, 1);
}

.carousel .main-grid {
  display: grid;
  gap: 1.5rem;
  justify-content: space-around;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-viewport::before,
.carousel-viewport::after {
  content: '';
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.carousel-viewport::before {
  left: 0;
  background: linear-gradient(to right, var(--cg-white), transparent);
}

.carousel-viewport::after {
  right: 0;
  background: linear-gradient(to left, var(--cg-white), transparent);
}

.carousel .titles {
  display: grid;
  align-content: start;
  justify-items: start;
  gap: 1rem;
}

.carousel .underline-link {
  display: inline-block;
  width: fit-content;
  justify-self: start;

  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.25rem 0.4rem;

  text-decoration: none;
  color: var(--cg-font);
  transition:
    background-size 400ms,
    color 400ms;

  background: var(
    --section-gradient,
    linear-gradient(to right, var(--cg-yellow-t), var(--cg-yellow-t))
  );
  background-size: 0 120%;
  background-position: 0 80%;
  background-repeat: no-repeat;
}

.carousel .underline-link:hover {
  background-size: 110% 120%;
  color: #fff;
}

.carousel .graphics-h3 {
  border-bottom: 4px solid var(--cg-humour);
}

.carousel .graphics-link {
  --section-gradient: linear-gradient(
    to right,
    var(--cg-yellow-t),
    var(--cg-humour-t)
  );
}

.carousel-card {
  flex: 0 0 calc(100% / 4);
  padding: 0 1rem;
}

@media (max-width: 1024px) {
  .carousel {
    padding: 2rem;
  }
  .carousel .main-grid {
    gap: 0.8rem;
  }
  .carousel .titles {
    gap: 1rem;
  }
  .carousel .underline-link {
    font-size: 0.8rem;
    background-size: 110% 120%;
    color: #fff;
  }
}
