---
const { title = 'The Cheese Grater Magazine' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <!-- global CSS -->
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
